body {
  margin: 0;
  overflow-x: hidden;
  background: linear-gradient(to bottom right, rgb(11, 17, 59), rgb(2, 2, 27));
}

#root {
  background: linear-gradient(to bottom right, rgb(11, 17, 59), rgb(2, 2, 27));
  min-height: 100vh;
}

.App {
  height: 100%;
}
@layer utilities {
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .animate-fade-out {
    animation: fade-out 1.2s ease-in-out forwards 2.2s;
  }

  .animate-fade-in {
    animation: fade-in 1s ease-out forwards;
  }

  .bg-portfolio {
    background: linear-gradient(
      to bottom right,
      rgb(11, 17, 59),
      rgb(2, 2, 27)
    );
  }
}
